*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grey: #DDDDDD;
    --blue: #1A1A2E;
    --lessBlue: #16213E;
    --orange: #F5A962;
    --pink: #E94560;
}
body{
    height: 100vh;
    padding: 15px;
    background: var(--blue);
}
header{
    position: absolute;
    top: 20px;
    left: 20px;

    width: 97%;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.hide{
    display: none;
}
.red{
    border: 1px solid red;
}
.container{
    height: auto;
    width: 100%;
    padding: 3.5rem;
    background: white;

    border-radius: 15px;
    position: relative;

    flex-direction: column;
}
.sub-container{
    width: 350px;
    padding: 1rem;
    background: var(--grey);

    border-radius: 25px;
    position: relative;
}

/*---------------------------------TITLES*/
.title{
    font-size: 4rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;

    color: white;
}
.title-pomodoro{
    font-size: 30px;
    color: var(--pink);
    font-weight: 800;
}

/*-------------------------------SPAN*/
.span-container, .check-box, #cover{
    width: 40%;
    min-width: 300px;
    height: 50px;

    border-radius: 15px;
    top: calc(50% - 225px);
    left: calc(50% - 20%);

    justify-content: space-evenly;
}
#cover{
    position: absolute;
    top: 10vh;
}
#colors{
    margin-bottom: 5rem;
}
span:hover{
    background: rgba(184, 221, 248, 0.1);
}
.span-selected{/*selected with javaScript*/
    border-bottom: 1px solid var(--blue);
    font-weight: 800;
}
.span-text{
    color: var(--lessBlue);
    font-size: 1rem;

    cursor: pointer;
}

/*---------------------------------CLOCK*/
.clock{
    background: var(--lessBlue);
    height: 250px;
    width: 250px;

    border-radius: 50%;
}
.btn{
    position: absolute;
    top: calc(50% + 50px);

    width: 150px;
    padding: 10px;
    border-radius: 25px;

    cursor: pointer;
    transition: 500ms;
}
.btn:hover{
    background: rgba(255, 255, 255, .2);
}
.btn.title{
    font-size: 1.5rem;
}
#timer{
   cursor: default;
}
/*---------------------------------ICONS*/
.ico{
    color: var(--lessBlue);
    border-radius: 50%;
    font-size: 20px;

    padding: 3px;
    position: absolute;
    bottom: 20px;

    cursor: pointer;
    transition: 500ms;
}
#ico-reset{
    right: 25px;
}
#ico-reset:hover{
    color: var(--pink);
}
#ico-plus{
    left: 25px;
    right: 258px;
}
#ico-plus:hover{
    color: green;
}
.ico-menu{
    position: absolute;
    top: 0;
    right: 15px;

    font-size: 1.7rem;
}

/*----------------------------------TEXTT*/
#explanation-container{
    width: 65%;
    height: auto;
    margin-bottom: 5rem;

    background: white;
    border: 2px solid var(--pink);
}
#explanation-container p, h3, ul{
    font-family: 'MV Boli', sans-serif;
    text-align: justify;
    margin: 1rem;
    font-size: 1.2rem;
    color: var(--lessBlue);
    font-weight: 800;
}
ul{
    width: 80%;
    margin-left: 13%;
}

/*----------------------------------CHECK*/
#check-box span{
    margin: 0 auto;
}
.check{
    width: 15px;
    height: 15px;

    border: 1px solid var(--blue);
    border-radius: 50%;
}

/*----------------------------------MEDIA*/
@media (max-width: 868px) {
    header{
        width: 90%;
    }
    #cover {
        top: 10px;
        left: calc(50% - 160px);
    }
    .container{
        padding: .5rem;
    }
    .sub-container{
        max-width: 80vw;
    }
    .span-container{
        width: 20px;
        margin-top: 2rem;
    }
    .span-text{
        font-size: .8rem;
    }
    #explanation-container{
        width: 90vw;
    }
    .explanation-container{
        align-items: left;
    }
    .title-pomodoro{
        font-size: 1.5rem;
    }
}